.App {
    background-color: #282c34;
    min-height: 100vh;
    overflow-x: hidden;
 
    
    
    .img-container {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: center;
        padding: 5px;
        margin: 0 auto;

        .img-wrapper {
            display: flex;
            width: calc(33% - 10px);
            flex-flow: column wrap;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            
            &:nth-child(even) {
                margin: 0 10px;
            }
            
            .image {
                width: 100%;
                margin: 5px 0;

                &:first-child {
                    margin: 0 0 5px;
                }
            }
        }
    }

    .modal {
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

  
    // Accounts for scroll wheel on desktop.
    @media (min-width: 768px) {
        .img-container {
            padding: 17px;
            
            img {
                width: 100%;
                margin: 10px 0;
                display: border-box;
    
                &:first-child {
                    margin: 0 0 10px;
                }
            }

            .img-wrapper {
                width: calc(33% - 12px);

                &:nth-child(even) {
                    margin: 0 20px;
                }
            }
        }
    }
}
